{% extends "./userDashboard_base.html"%}
{% load static %}

{% block userDash_content %}
{% if bookings %}
<div class="col-md-4">
    <table class="table " style="max-width:50vw">
        <thead>
            <tr>
                <th scope="col">S/N</th>
                <th scope="col">Hotel Name</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Payment Status</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% for b in bookings %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{b.hostel.name}}</td>
                <td>{{b.date}}</td>
                <td>{{b.payment_status}}</td>
                <td><a href="{% url 'userDashboard:booking_detail' b.id %}" class="btn btn-primary">View Booking</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div><b> You have no bookings yet</b></div>
{% endif %}
{% endblock %}
