{% extends './base.html' %}
{% load static %}]

{%block content%}
<!DOCTYPE html>
<html lang="en">
   <html lang="en">
  
   <!-- body -->
   <body class="main-layout">
      
      <div class="about">
         
         <div class="container-fluid">
            
            
            <div class="row" style="background-image: url('{{hostel.image.url}}'); background-size: cover; background-position: center center; height: 80vh; width: 100vw;">
               <!-- Empty div if you want to show something over the background -->
               <div class="col-12 d-flex flex-column" style="height: 100%;  align-items: center; justify-content: center;" c>
                  <h1 style="color: white; font-size: 3rem;">{{hostel.name}}</h1>
                  <p style="color: white; font-size: 1.5rem;">{{hostel.address}}</p>
                  <h2 style="color: white; font-size: 2rem;">
                     {% for roomtype in roomtypes%}
                     <p>{{roomtype.name}} - {{roomtype.price}}</p>
                     {% endfor %}
                  </h2>

                  <p style="color: white; font-size: 2rem;" class="col-md-5">{{hostel.description}}</p>
                  
                  
               </div>
               <div class="titlepage container-fluid  d-flex w-2">
                     {% for roomtype in roomtypes%}
                     <a href = {% url 'rooms:room_type_detail' hostel.slug roomtype.slug  %}>
                        <div class="col-md-4 bg-warning p-4 rounded ">
                           <div class="blog_box ">
                              
                              <div class="blog_room ">
                                 <h3>{{roomtype.name}}</h3>
                                 <span> number of {{roomtype.residents}} </span>
                                 <p>price: {{roomtype.price}} </p>
                              </div>
                           </div>
                        </div>
            
                     </a>
                     
                     {% endfor %}
                      
                  </div>
               
            </div>
         </div>
      </div>
      
      
   </body>
</html>
   
   
{%endblock%}