{% extends './base.html' %}
{% load static %}]

{%block content%}
<!DOCTYPE html>
<html lang="en">
   <html lang="en">
  
   <!-- body -->
   <body class="main-layout">
      
      <div class="about">
         
         <div class="container-fluid">
            
            
            <div class="row">
               
               <div class="col-md-5">
                  
                  <div class="titlepage container-fluid">
                     {% for roomtype in roomtypes%}
                     <a href = {% url 'rooms:room_type_detail' hostel.slug roomtype.slug  %}>
                        <div class="col-md-4">
                           <div class="blog_box">
                              
                              <div class="blog_room">
                                 <h3>{{roomtype.name}}</h3>
                                 <span> number of {{roomtype.residents}} </span>
                                 <p>price: {{roomtype.price}} </p>
                              </div>
                           </div>
                        </div>
            
                     </a>
                     
                     {% endfor %}
                      
                  </div>
               </div>
               
            </div>
         </div>
      </div>
      
      
   </body>
</html>
   
   
{%endblock%}