{% load static %}

<!-- Sidebar -->
<div class="sidebar bg-dark">
    <div class="sidebar-heading text-center text-white py-4">
        <h3>Earning Time</h3>
    </div>
    <ul class="list-unstyled">
        <li><a href="#" class="text-white py-2 d-block">Dashboard</a></li>
        <li><a href="#" class="text-white py-2 d-block">All Bookings</a></li>
        <li><a href="#" class="text-white py-2 d-block">Notifications</a></li>
        <li><a href="#" class="text-white py-2 d-block">Wallet</a></li>
        <li><a href="#" class="text-white py-2 d-block">Bookmark</a></li>
        <li><a href="#" class="text-white py-2 d-block">My Profile</a></li>
        <li><a href="#" class="text-white py-2 d-block">Change Password</a></li>
        <li><a href="#" class="text-white py-2 d-block">Logout</a></li>
    </ul>
</div>
<!-- End of Sidebar -->

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
