{% extends '../base.html' %}
{% load static %}

{% block content%}

<title>Login Page</title>

    
      <!-- sign-in.html -->
        <div class="container">
            <h2>Login</h2>
            <form action="{% url 'userauth:sign-in' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Sign-in">
            </form>
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>


  
    
{% endblock%}

</html>
